<!DOCTYPE html>
<html>
<head>
    <title>LazeeTV</title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
</head>

<body>
    <header class="lztv-header">
    <h1>LazeeTV</h1>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="shows">My Shows</a>
            </li>
            <li>
                <a href="settings">Settings</a>
            </li>
        </ul>
    </nav>
</header>